.admin-edit-workout-container-heading{
    display: flex;
    width: 100%;
    justify-content: center;
}

.admin-edit-input-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;



    input{
        width: 80%;
        height: 40px;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 1px 0px 0px #f0f7fa;
        text-shadow: 0px -1px 0px #5b6178;
        background: linear-gradient(#f0f7fa, #ffffff);
        font-size: 20px;
    }

    button{
        font-size: 15px;
        font-family: Arial;
        width: 300px;
        height: 50px;
        border-width: 1px;
        color: #ffffff;
        border-color: #057fd0;
        font-weight: bold;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0px 1px 0px 0px #f0f7fa;
        text-shadow: 0px -1px 0px #5b6178;
        background: linear-gradient(#33bdef, #019ad2);
        cursor: pointer;
        transition: background-color 0.4s ease-in-out;
      margin-top: 30px;
      margin-bottom: 50px;
    }

    button:hover{
        box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    transform: translateY(-3px);
    transition: box-shadow 0.3s ease, transform 0.7s ease-in-out;
    background: linear-gradient(#019ad2, #33bdef);
    }
}



@media (max-width: 800px) {
    .userworkout-container-body2 ul li{
             flex-direction: column;
             margin-bottom: 10px;
             justify-content: center;
             align-items: center;
    }
  }