.Header {
    background-color: #6ec1e4;
    height: 25vh;
    display: flex;
    position: relative; /* Needed to position logo inside this div */
}

.header-left,
.header-right {
    height: 100%;
    width: 40%;
}

.header-right {
    width: 60%;
}

.header-right img {
    width: 100%;
    height: 100%;
}

.logo-wrapper {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}

.logo-wrapper img {
    object-fit: cover; 
    height: 100%; 
    width: 100%; 
    opacity: 0.85;
}
